/*******************************
new logo
*******************************/
body{
	background-color: #37bbed;
}
.navbar{
	background-color: #37bbed;	
}
.panel-default > .panel-heading{
	background-color: #37bbed;	
	color: white; 
	/* text-shadow: #103847 1px 1px 15px */
}

#sidebar-container {
	background-color: #37bbed;	
}

.item-group-short-desc a {
	color: white
}

/*******************************
Personalizado
*******************************/
.leaflet-container {
	font: 12px/1.5 Roboto, sans-serif !important;
}

.navbar-header > a > img {
	width: 336px;
	top: 0px;
}

#top-right-logo-link > img {
	position: absolute;
	top: 7px !important;
	width: 25px !important;
}

@media (max-width: 768px) {
	#top-left-logo {
		background-image: url("../images/logo_RESPONSIVE.png");
		background-size: 200px 49.6px;
		background-repeat: no-repeat;
		height: 50px;
		filter: drop-shadow(1px 1px 1px #103847);
	}
}

@media (min-width: 769px) {
	#top-left-logo {
		background-image: url("../images/logo2.png");
		background-size: 490px 49.6px;
		background-repeat: no-repeat;
		height: 50px;
		width: 490px;
		filter: drop-shadow(1px 1px 1px #103847);
	}
	.list-group-item {
		min-height: 54px;
	}
}
